body{
  box-sizing: border-box;
  background:#0079BF;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
/* header */
}
header>*{
  display: inline-block;
  color: white;
}
header{
  background-color: #0067A3;
  padding: 0px;
  border: 0px;

}
.button-header , .Container-input{
  background-color: #3385B5;
  padding: 5px;
  margin-left: 6px;
  margin-right: 8px;
  border-radius: 5%;
  opacity: 0.8;
}
div a span>* {
  color: white;
}
div a span :first-child{
  margin-right: 7px;
}
div a span:last-child{
  text-decoration: none;

}
#Logo-header{
  color: #0079BF;
  width: 80px;
  margin-top: 5px;
  position: relative;
  left: 400%;
  height: 25px;
  opacity: 0.5;
}

.header-icon> ul> li {
  display: inline-block;
  position: relative;
  left: 800px;
  opacity: 0.8;
  background-color: #3385B5;
  padding: 5px;
  padding: 5px;
  margin-left: 2px;
  margin-right: 6px;
  border-radius: 5%;

}
.header-icon ul li div{
  background-color: #CDD2D4;
  border-radius: 50%;
  padding: 5px;

}
#InputHeaderSearch{
  background-color: #3385B5;
  border: 0px;
}

}
/*--Navitagor*/
nav{
  display: inline-block;
}
.button-title{
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right:  10px;
  padding-left: 20px;
  opacity: 0.8;
}
.starIcon{
  display: inline-block;
  color: white;
  opacity: 0.8;
  font-size: 1.2em;
  font-weight: bold;
  margin-left:10px;
}
.linedividers{
  color: white;
  display: inline-block;
  opacity: 0.8;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 15px;
}
#PersonalId{
  color: white;
  display:inline-block;
  margin-left: 15px;
  opacity: 0.8;
  font-size: 1.2em;
  font-weight: bold;
}
#Privacity-Container{
  display: inline;
  margin-right: 10px;
  margin-left: 15px;
}
.lockIcon{
  display: inline-block;
  color: white;
  opacity: 0.8;
  font-size: 1.2em;
  font-weight: bold;
}
.User-Icon{
  display: inline-block;
}
.User-Icon :first-child{
  display: inline-block;
  color: black;
  padding: .5em;
  background-color: #CDD2D4;
  border-radius: 50%;
  margin-right: 7px;
  font-size: 1.2em;
  opacity: 0.8;

}
.User-Icon :last-child{
  color: white;
}
.Show-Menu{
  display: inline-block;
  color: white;
  opacity: 0.9;
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  right: -48%;
}
.addThisListStyle{
  color: white;
  background-color: #0067A3;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  margin-right:20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.addThisListStyle:hover{
  background-color: #005485;
}
#addThisList span{
  text-align: left;

}
}
#SecondBoxContainerId{
  border: 1px solid #CDD2D4;
  margin: 30px;
  margin-left: 60px;
  display: inline-block;
  background-color: #CDD2D4
}
#inputNameListId{
  background-color: #CDD2D4;
  font-size: 1.2em;
  margin-left: 5px;
  background-color: #CDD2D4;
  border-radius: 5%;
  padding: 10px;
}
