body{
  background-color: #0079BF;
  /*header*/
}
header>*{
  display: inline-block;
  color: white;
}
header{
  background-color: #0067A3;

}
#Logo-header{
  color: #0079BF;
  width: 80px;
  position: relative;
  height: 3.5vh
}

.header-icon> ul> li{
  display: inline-block;
}
/*--Navitagor*/
nav>*{
  display: inline-block;
  color: white;
}
div .User-Icon {
  display: inline-block;

}
